KulvaWSdemo/Client/Service References/KulvaSvc/Kulva1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.elisa.fi/kulva" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.elisa.fi/kulva" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.elisa.fi/kulva/Imports">
      <xsd:import schemaLocation="http://app.dev.ad/Kulva/Kulva.svc?xsd=xsd0" namespace="http://www.elisa.fi/kulva" />
      <xsd:import schemaLocation="http://app.dev.ad/Kulva/Kulva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://app.dev.ad/Kulva/Kulva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KulvaWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKulva_Stamp_InputMessage">
    <wsdl:part name="parameters" element="tns:Stamp" />
  </wsdl:message>
  <wsdl:message name="IKulva_Stamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:StampResponse" />
  </wsdl:message>
  <wsdl:message name="IKulva_Stamps_InputMessage">
    <wsdl:part name="parameters" element="tns:Stamps" />
  </wsdl:message>
  <wsdl:message name="IKulva_Stamps_OutputMessage">
    <wsdl:part name="parameters" element="tns:StampsResponse" />
  </wsdl:message>
  <wsdl:message name="IKulva_HeartBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:HeartBeat" />
  </wsdl:message>
  <wsdl:message name="IKulva_HeartBeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartBeatResponse" />
  </wsdl:message>
  <wsdl:message name="IKulva_HeartBeats_InputMessage">
    <wsdl:part name="parameters" element="tns:HeartBeats" />
  </wsdl:message>
  <wsdl:message name="IKulva_HeartBeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartBeatsResponse" />
  </wsdl:message>
  <wsdl:portType name="IKulva">
    <wsdl:operation name="Stamp">
      <wsdl:input wsaw:Action="http://www.elisa.fi/kulva/IKulva/Stamp" message="tns:IKulva_Stamp_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elisa.fi/kulva/IKulva/StampResponse" message="tns:IKulva_Stamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stamps">
      <wsdl:input wsaw:Action="http://www.elisa.fi/kulva/IKulva/Stamps" message="tns:IKulva_Stamps_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elisa.fi/kulva/IKulva/StampsResponse" message="tns:IKulva_Stamps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HeartBeat">
      <wsdl:input wsaw:Action="http://www.elisa.fi/kulva/IKulva/HeartBeat" message="tns:IKulva_HeartBeat_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elisa.fi/kulva/IKulva/HeartBeatResponse" message="tns:IKulva_HeartBeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HeartBeats">
      <wsdl:input wsaw:Action="http://www.elisa.fi/kulva/IKulva/HeartBeats" message="tns:IKulva_HeartBeats_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elisa.fi/kulva/IKulva/HeartBeatsResponse" message="tns:IKulva_HeartBeats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>