KulvaWSdemo/Client/Service References/KulvaSvc/Kulva1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.elisa.fi/kulva" elementFormDefault="qualified" targetNamespace="http://www.elisa.fi/kulva" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://app.dev.ad/Kulva/Kulva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KulvaWCF" />
  <xs:element name="Stamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KulvaWCF" minOccurs="0" name="entry" nillable="true" type="q1:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KulvaWCF" minOccurs="0" name="StampResult" nillable="true" type="q2:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stamps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KulvaWCF" minOccurs="0" name="entries" nillable="true" type="q3:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StampsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KulvaWCF" minOccurs="0" name="StampsResult" nillable="true" type="q4:ArrayOfGenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KulvaWCF" minOccurs="0" name="identity" nillable="true" type="q5:Identity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KulvaWCF" minOccurs="0" name="HeartBeatResult" nillable="true" type="q6:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KulvaWCF" minOccurs="0" name="identities" nillable="true" type="q7:ArrayOfIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KulvaWCF" minOccurs="0" name="HeartBeatsResult" nillable="true" type="q8:ArrayOfGenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>